@media all and (min-width: 0px) and (max-width: 320px){
    .ParentToDo{
        width: 90%;
        height: 55vh;
        transform: translateY(-5%) !important;
        padding: 0 0 1rem 0;
    }

    .ParentAddTask{
        width: 100%;
        height: 38vh;
    }

    .BTNContorls{
        width: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: .5rem;
    }
}

@media all and (min-width: 320px) and (max-width: 480px){

    .BTNContorls{
        width: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: .5rem;
    }

}

@media all and (min-width: 480px) and (max-width: 600px){
    .BTNContorls{
        width: 30% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: .5rem;
    }
}

@media all and (min-width: 600px) and (max-width: 768px){
    .BTNContorls{
        width: 25% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: .5rem;
    }
}

@media all and (min-width: 768px) and (max-width: 992px){
    .BTNContorls{
        width: 20% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: .5rem;
    }
}

@media all and (min-width: 992px) and (max-width: 1200px){
    .BTNContorls{
        width: 15% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: .5rem;
    }
}

@media all and (min-width: 1200px) and (max-width: 1900px){
    .BTNContorls{
        width: 13% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: .5rem;
    }
}

@media all and (min-width: 1900px){
    .BTNContorls{
        width: 8% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: .5rem;
    }
}